body {
  font-family: "Open Sans", sans-serif;
}

.add_button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;  /* Set a fixed width */
  height: 20px; /* Set a fixed height to match width for a square */
  padding: 0;   /* Remove padding to maintain square shape */
  margin-left: 10px;
  
  background: #b6ff00;
  border: 1px solid #2C2C2C;
  float: right; /* Float the button to the right */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Adjust font size if needed */
}


  
table {   
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  margin-top: 20px;
  border-radius: 3px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.add_th{
  border:none;
  background-color: #ffffff;
}

th {
  background-color: #b6ff00;
  
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  border: 1px solid black;
  padding: 20px;
  background-color: #b6ff00;
  border-radius: 10px;
}

.navSidebar {
  display: none;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#tableDIV{
  margin-left: 0;
  transition: margin-left 0.3s;
  padding: 20px;
  box-sizing: border-box;
}
#closeNav, #openNav {
  width: 80px;
  height: 40px;
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -0.0667em;
  background: #b6ff00;
  border: 1px solid #2C2C2C;
  overflow: auto;
  border-radius: 8px;
}

