.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.idT{
    width: 150px;
}
.TaskN{
    width: 210px;
}
.TaskD{
    width:600px
}
.TaskDt{
    width: 100px;
}
.TaskS{
    width: 100px;
}
.TaskA{
    width: 100px
}